body {
    padding: 0;
    margin: 0;
    background-color: #C0C0C0;
}

body a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    font-size: 32px;
}

body h1 {
    text-align: center;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

section {
    display: flex;
}

pre {
    font-size: 20px;
}


img {
    width: 100px;
    align-self: center;
    padding-bottom: 60px;
    padding-right: 20px;
    
}


p {
    font-size: 20px;
}


span {
    font-weight: 700;
}


